:root {
  --color-text-dark: #626262;
  --color-text-normal: #777;
  --color-text-accent: #b4ad9e;

  --color-background-white: #ffff;
  --color-background-gray: #f0f0f0;
}

body {
  margin: 0;
  font-family: 'Playfair Display', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-text-normal);
  background-color: var(--color-background-white);
}
.container {
  width: 100%;
  max-width: 1200px;  
  padding: 0 15px;
  margin: 0 auto;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Intro */
.intro__img {
  margin-top: 80px;
  height: 510px;
  background: url(../images/intro.jpg) center no-repeat;
  background-size: cover;
}

/* Header */
.header {
  width: 100%;
  padding-top: 70px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 30px;
  font-weight: 400;
  font-family: 'Inconsolata', sans-serif;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 6px;
}

/* Nav */

.nav {
  font-size: 14px;
  text-transform: uppercase;
}

.nav__link {
  position: relative;
  margin: 0 50px;
  text-decoration: none;
  color: var(--color-text-normal);
}

.nav__link:hover {
  color: var(--color-text-accent);
}
/* Section */
.section {
  padding: 75px 0;
}

/* Title & Suptitle */
.title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  font-weight: 400;
  padding: 35px 0;
}

.suptitle {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--color-text-accent);
}

.suptitle--bottom {
  padding-top: 50px;
}

/*Photography */
.photography__text {
  font-family: 'Playfair Display', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--color-text-normal);
  line-height: 2;
}

/* Lifestyle */
.lifestyle {
  display: flex;
  gap: 60px;
  justify-content: space-between;
}

.lifestyle__col {
  display: flex;
  flex-direction: column;
  flex: 1;
}


.lifestyle__img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  transition: filter 0.3s ease;
}

.lifestyle__img:hover {
  filter: brightness(80%);
  cursor: pointer;
}
.lifestyle__text {
  margin-bottom: 100px;

}

/* Subscribes */
.newsletter {
  width: 100%;
  background-color: var(--color-background-gray);
}
.email {
  text-align: center;
  margin-bottom: 50px;
}

.subscribe {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe__input {
  width: 400px;
  max-width: 100%;

  background: transparent;
  font-family: 'Playfair Display', sans-serif;
  font-size: 14px;
  color: var(--color-text-dark);
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color-text-dark);
}

.subscribe__btn {
  font-size: 17px;
  background-color: transparent;
  border: none;
}
.subscribe__btn:hover {
  color: var(--color-text-accent);
  cursor: pointer;
}

/* BTN */
.load-more__box {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 8px 30px;
  border: 1px solid var(--color-text-dark);
  color: var(--color-text-dark);
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  transition: background 0.1s linear, color 0.1s linear;
}

.btn:hover {
  background-color: var(--color-background-gray);
  color: var(--color-text-accent);
}

/* Footer */

.footer {
  background-color: var(--color-background-gray);
  width: 100%;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.footer__legal {
  display: flex;
  text-decoration: none;
  gap: 40px;
}

.footer__social {
  display: flex;
  text-align: center;
  text-decoration: none;
  gap: 20px;
  align-items: center;
}

.footer__link {
  font-size: 14px;
  text-decoration: none;
  color: var(--color-text-dark);
}

.footer__link:hover {
  color: var(--color-text-accent);
}

.footer__text {
  font-size: 14px;
  color: var(--color-text-dark);
}


@media (max-width: 990px) {
  .container{
    padding:  0 35px;
  }

/* Nav */
.nav__link {
  margin: 0 30px;
 
}

/* Title & Suptitle */
.title {
  font-size: 24px;
  padding: 30px 0;
}

/* Photography */
.photography__text {
  padding: 0 15px;
  line-height: 1.7;
}

/* Lifestyle */
.lifestyle {
  display: flex;
  gap: 40px;
  justify-content: space-around;
}

.lifestyle__col {
  max-width: 300px;
}

.lifestyle__img{
  width: 100%;
  max-width: 350px;
}
.lifestyle__text {
  margin-bottom: 75px;
}


/* Btn*/
.btn {
  padding: 8px 20px;
  font-size: 20px;
}
}




@media (max-width: 770px) {

/* Header */

.header {
  width: 100%;
  padding-top: 50px;
}

.header__inner {
  display: inline;
    justify-content: center;
   align-items: center;
}

.header__logo {
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

}
/* Nav */
.nav{
display: flex;
justify-content: space-around;
}

.nav__link {
  margin: 0 40px;
  text-decoration: none;
  color: var(--color-text-normal);
}

/* Intro */
.intro__img {
  margin-top: 50px;
  height: 510px;
}
.section {
  padding: 50px 0;
}
/* Title & Suptitle */
.title {
  font-size: 20px;
  padding: 25px 0;
}

.suptitle {
  font-size: 12px;

}

.suptitle--bottom {
  padding-top: 35px;
}

/* Lifestyle */
.lifestyle__text {
  margin-bottom: 50px;

}
/* Btn*/
.btn {
  padding: 8px 17px;
  font-size: 17px;
}

/* Subscribes */
.newsletter {
  width: 100%;
}


.subscribe__input {
  width: 250px;
  max-width: 100%;
  font-size: 14px;

}

.subscribe__btn {
  font-size: 14px;

}
/* Footer */

.footer {
  background-color: var(--color-background-gray);
  width: 100%;
}
.footer__content {

  padding: 30px;
}
.footer__legal {
  gap: 30px;
}
.footer__social {
  gap: 15px;
}
.footer__link {
  font-size: 12px;
}
.footer__text {
  font-size: 12px;
}

}

@media (max-width: 575px){
/* Header */

.header {
  width: 100%;
  padding-top: 50px;
  flex-direction: column;
}

.header__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  font-size: 30px;
  display: block;
  justify-content: center;
  margin-bottom: 40px;

}
/* Nav */
.nav{
display: flex;
justify-content: space-around;
max-width: 100%;
}

.nav__link {
  font-size: 11px;
  margin: 0 20px;
  text-decoration: none;
  color: var(--color-text-normal);
}

/* Intro */
.intro__img {
  margin-top: 50px;
  height: 400px;
  width: 100%;
}

/* Lifestyle */
.lifestyle {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.lifestyle__text {
  margin-bottom: 50px;

}
.lifestyle__col {
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.lifestyle__item {
  text-align: center; 
  margin-bottom: 40px; 
}

.lifestyle__img {
  display: block;      
  margin: 0 auto;  
  width: 100%;    
  max-width: 400px;     
  height: auto; 
  margin-bottom: 20px;      
}
/* Title & Suptitle */
.title {
display: flex;
justify-content: center;}

.suptitle {
display: flex;
justify-content: center;
}
}